<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Ethene Hosting</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="icon" type="image/svg+xml" href="https://avatars.githubusercontent.com/u/192627681">
</head>
<body id="loginPage">
<h1>Login</h1>
<form method="POST" action="/login" class="loginForm">
  <label for="email" class="loginLabel">Email:</label>
  <div class="line">
    <img class="loginIcon" src="/static/assets/mail-outline.svg" alt="Mail">
    <input type="email" id="email" name="email" placeholder="example@example.com" required>
    <br>
  </div>
  <label for="password" class="loginLabel">Password:</label>
  <div class="line">
    <img class="loginIcon" src="/static/assets/key-outline.svg" alt="Key">
    <input type="password" id="password" name="password" placeholder="********" required>
    <br>
  </div>
  <!-- <p>{{.Text}}</p> -->
  <a href="" class="forgotPassword">Forgot password?</a> <!-- TODO: Finish reset password system -->
  <button type="submit" class="loginButton">Login</button>
</form>
</body>
</html>
