<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login - Ethene Hosting</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="https://avatars.githubusercontent.com/u/192627681" rel="icon" type="image/svg+xml">
</head>
<body id="loginPage">
<h1>Login</h1>
<form action="/login" class="loginForm" method="POST">
    <label class="loginLabel" for="email">Email:</label>
    <div class="line">
        <img alt="Mail" class="loginIcon" src="/static/assets/mail-outline.svg">
        <input id="email" name="email" placeholder="example@example.com" required type="email">
        <br>
    </div>
    <label class="loginLabel" for="password">Password:</label>
    <div class="line">
        <img alt="Key" class="loginIcon" src="/static/assets/key-outline.svg">
        <input id="password" name="password" placeholder="********" required type="password">
        <br>
    </div>
    <!-- <p>{{.Text}}</p> -->
    <a class="forgotPassword" href="">Forgot password?</a> <!-- TODO: Finish reset password system -->
    <button class="loginButton" type="submit">Login</button>
</form>
</body>
</html>
